# -*- coding: utf-8 -*-
<%!
  main_title = 'vocab.ox - Page not Found'
%>
<hgroup>
  <h2>Page not found</h2>
  <div id="error-404">
    <div id="error-message">
      <h1>Error 404...</h1>
      <p><img src="/images/maze.jpg" alt="Maze" width="300" height="224" class="imgLeft"></p>
      <p>Sorry but the page you are looking for cannot be found. </p>
      <p>If you're in denial and think this is a conspiracy that cannot possibly be true, please <strong>try  the search box below</strong>.</p>
      <p>You may also want to <strong>click on the menu above</strong> to see if you can find what you are looking for.</p>
    </div>
  </div>
  <h3>&nbsp;</h3>
</hgroup>		
