# -*- coding: utf-8 -*-
<%!
  nav_selection = 'about'
  main_title = 'vocab.ox - About'
%>
<%inherit file="/base.html" />
<h2>About the Project</h2>
<a href="http://www.bodleian.ox.ac.uk/" target="_blank"><img src="images/bodleian_logo.jpg" alt="Bodleian Libraries [opens new window]" title="University of Oxford [opens new window]" class="imgRight imgBorder"></a> 
<p><strong>Vocab.ox.ac.uk </strong>is hosted and maintained by SERS (<a href="http://www.bodleian.ox.ac.uk/sers" title="Systems and e-Research Service (SERS) [opens new window]" target="_blank">Systems and e-Research  Service</a>), a department of The Bodleian Libraries. Project funding from PICT  (<a href="http://www.admin.ox.ac.uk/pict/" title="PICT [opens new window]" target="_blank">PRAC ICT committee</a>) is enabling  the Bodleian Libraries to develop vocab.ox into a fully developed central  service so that members of the University can deposit and disseminate controlled  vocabularies produced at the University of Oxford. The new service will be  launched in April 2011.</p>
<p>The <strong>Vocab.ox.ac.uk</strong> web store is  housed on the Bodleian Libraries Digital Asset Management System (DAMS). The  DAMS provides a generic platform for the storage and preservation of digital  objects within an RDF/Semantic Web framework.</p>
     
<section id="content" class="body">
  <!-- team -->
  <h2>Project Team</h2>
  <ol id="posts-list" class="hfeed">
    <article class="hentry">	
      <header><h3 class="entry-title">Sally Rumsey</h3></header>
      <!-- /.post-info -->
      <div class="entry-content">
        <p> is managing the development of <a href="http://ora.ouls.ox.ac.uk" title="ORA [opens new window]" target="_blank">ORA (Oxford University Research Archive)</a>, the University of Oxford repository for research outputs. She has been involved in a number of JISC-funded projects: ADMIRAL (research data), <a href="http://brii.bodleian.ox.ac.uk/" title="Building the Research Information Infrastructure [opens new window]" target="_blank">BRII (research information management data)</a> and PIRUS2 (usage statistics). Previously she was she was eServices Librarian at the London School of Economics. Her book, “How to find information: a guide for researchers” (2nd ed) is published by the Open University Press.</p>
      </div><!-- /.entry-content -->
    </article>
    <article class="hentry">	
      <header><h3 class="entry-title">Anusha Ranganathan</h3></header>              
      <div class="entry-content">
        <p> (Project system architect) is the DAMS software engineer for <a href="http://ora.ouls.ox.ac.uk" title="ORA [opens new window]" target="_blank">Oxford University   Research Archive (ORA)</a>. She has expertise in semantic web technologies,   large-scale storage and preservation, and web-service creation. Apart from   building and managing the university's institutional repository, Anusha has   worked on the architecture of the DAMS system and in developing its core   API. </p>
      </div>
    </article>
    <article class="hentry">	
      <header><h3 class="entry-title">Monica Messaggi Kaya</h3></header>
      <div class="entry-content">
        <p> is a DAMS Software Engineer at University of Oxford; has a background in   multimedia development with 14+ years of experience creating training materials   (CBTs, e-learning content, CMS/LMS), web development and design. She has a BSc   in Computer Science, doing her <a href="http://www.softeng.ox.ac.uk/" title="Software Engineering Programme [opens new window]" target="_blank"><SPAN title="http://www.softeng.ox.ac.uk"/>MSc in Software   Engineering</SPAN></a> at the University of Oxford. Currently Monica is working   in various front-end designs for projects within the System and e-Research   Service (SERS) department. </p>
      </div>
      <!-- /.entry-content -->
    </article>
  </ol>
  <p>&nbsp;</p>
  <h2>Links</h2>
  <ul>
    <ul>
      <li><a href="http://www.ox.ac.uk" target="_blank" title="University of Oxford [opens new window]" rel="external">University of Oxford</a></li>
      <li><a href="http://www.bodleian.ox.ac.uk/" target="_blank" title="Bodleian Libraries [opens new window]" rel="external">Bodleian Libraries</a></li>
      <li><a href="http://www.bodleian.ox.ac.uk/sers/" target="_blank" title="SERS [opens new window]" rel="external">SERS</a></li>
    </ul>
   </ul>
</section>
