# -*- coding: utf-8 -*-
<%!
  nav_selection = 'help'
  main_title = 'vocab.ox - Help'
%>
<%inherit file="/base.html" />
<h2>Help</h2>
<p>You can find Guidelines, Instructions and General information in this section.</p>
<p>The <strong>Vocab.ox.ac.uk</strong> web store will be housed on the Bodleian  Libraries Digital Asset Management System (DAMS). The DAMS provides a generic  platform for the storage and preservation of digital objects within an  RDF/Semantic Web framework.</p>
<section id="content" class="body">
<!-- guidelines -->
  <ol id="posts-list" class="hfeed">
    <article class="hentry">
      <header><h3 class="entry-title">Vocabularies hosted at Oxford</h3></header>
      <!-- /.post-info -->
      <div class="entry-content">
        <ul>
          <li>Each vocabulary should have a  designated individual assigned as the vocabulary ‘owner’ who will take  responsibility for deposit, updating and queries about the vocabulary. The  owner is required to provide a current email address so they can be contacted  about queries referring to their vocabulary. Ownership can be transferred to a  different individual by the owner if necessary.</li>
          <li>Vocabularies are submitted in RDF and  converted to HTML for display. Vocabularies can be downloaded in either RDF or  HTML. Vocabularies are published as open linked data.</li>
          <li>Suggestions for amendments to Oxford  vocabularies can be sent to vocab.ox where they will be passed to the  vocabulary owner.</li>
          <li>The most recent version of a  vocabulary held by vocab.ox will be displayed </li>
          <li>A basic versioning mechanism is  provided so that the history of updates to objects is recorded and acted upon  if required</li>
          <li>We reserve the right to refuse  and/or remove inappropriate material.</li>
          <li>If  you only want to create one or two terms, and don't want to create your own  full schema you might prefer to submit them to OpenVocab (openvocab.org), a  community maintained site, where you can create and maintain terms. </li>
        </ul>
      </div>
      <!-- /.entry-content -->
    </article>
    <article class="hentry">
      <header><h3 class="entry-title">To submit a vocabulary to vocab.ox</h3></header>
      <!-- /.post-info -->
      <div class="entry-content">
        <ul>
          <li> Only members of the University of Oxford are eligible to submit vocabularies to vocab.ox</li>
          <li>Go to vocab.ox.ac.uk and click on ‘Contribute’</li>
          <li>Oxford vocabulary creators need their WebAuth SSO username and password to deposit their vocabulary. </li>
          <li> If you are a new user, complete the registration details which should include your Oxford email address (ox.ac.uk).</li>
          <li> If you are a returning user, log-in.</li>
          <li> Fill in the details and upload your vocabulary in RDF. The RDF will be validated and any errors will be reported. You can fix the errors and re-submit.</li>
          <li>A suggested schema of RDF for submitted vocabularies will be made available. If this style is followed, an HTML version of the vocabulary will be created for display. If not, the vocabulary will only be available in RDF. Vocabularies can be downloaded in either RDF or HTML.</li>
          <li>Vocabularies are published as open linked data</li>
          <li>Only vocabulary owners are permitted to amend their own vocabularies. Log-in, edit the raw RDF and save. The most recent version will be displayed on the website</li>
          <li>Vocabularies will be hosted and maintained with the aim of perpetual display and access. Vocabularies cannot be deleted. If you can no longer maintain your vocabulary, or use of a vocabulary is deprecated, you could change the status of the vocabulary to reflect that. Vocabularies will only be removed from the site in consultation with the vocabulary owner.<br>
          </li>
        </ul>
      </div>
      <!-- /.entry-content -->
    </article>
    <article class="hentry">
      <header><h3 class="entry-title">Referenced Vocabularies</h3></header>
      <!-- /.post-info -->
      <div class="entry-content">
        <ul>
          <li>Wherever possible, a local copy  of external vocabularies will be ‘mirrored’ at Oxford to reduce the risk of  them disappearing from web access.</li>
          <li>Mirrored vocabularies will  occasionally be synchronized with the original source. The version number of  the mirrored version will be clearly displayed. Users can alert Bodleian  Libraries staff to the need to update a version by contacting them using the  vocab.ox contact details.</li>
          <li>Members of the University can  send suggestions for inclusion of externally hosted vocabularies that are in  use at Oxford via the ‘contact us’ email</li>
          <li>External vocabularies will only  be mirrored in compliance with rights and permissions. If the data cannot be  mirrored, a link to the source will be provided.</li>
          <li>Suggestions for amendments and  additions to external vocabularies should be directed to the owner at the  original source.</li>
        </ul>
      </div>
      <!-- /.entry-content -->
    </article>
    <article class="hentry">
      <header><h3 class="entry-title">Rights and privacy</h3></header>
      <!-- /.post-info -->
      <div class="entry-content">
        <ul>
          <li>Vocabulary owners can assign a  licence to their vocabularies. If no licence is included with deposited  vocabularies, a Creative Commons Attribution – Sharealike licence will be  attached</li>
          <li>Details of people who register  with the site in order to deposit vocabularies will only be used for that  purpose and for management and maintenance of the site and will not be shared.  Details of the site’s privacy policy will be displayed on the web site.</li>
        </ul>
        <p> Vocab.ox contains many types of  vocabularies such as controlled vocabularies, ontologies, thesauri and  classifications. An explanation of these terms can be found in the article  &quot;What are the differences between a vocabulary, a taxonomy, a thesaurus,  an ontology, and a meta-model?&quot; by Woody Pidcock and available at <a href="http://infogrid.org/wiki/Reference/PidcockArticle">http://infogrid.org/wiki/Reference/PidcockArticle</a>&nbsp;[accessed  30.11.10] </p>
      </div>
      <!-- /.entry-content -->
    </article>
    <article class="hentry">
      <header><h3 class="entry-title">Preservation and removal</h3></header>
      <div class="entry-content">
        <ul>
          <li>Vocab.ox.ac.uk is built on the  Bodleian Libraries’ archival DAMS. Vocabularies will be hosted and maintained  with the aim of perpetual display and access.</li>
          <li>Vocabularies will  be  removed from the site in consultation with the vocabulary owner. </li>
          <li>We reserve the right to refuse and/or remove inappropriate material.</li>
        </ul>
      </div>
    </article>
    <article class="hentry">
      <header><h3 class="entry-title"><span class="accordionButton">How  do I delete a vocabulary?</span></h3></header>
      <div class="entry-content">
        <p>Vocabularies cannot be deleted. If you  can no longer maintain your vocabulary, or use of a vocabulary is deprecated,  you could change the status of the vocabulary to reflect that.</p>
      </div>
    </article>
    <article class="hentry">
      <header><h3 class="entry-title"><span class="accordionButton">Who  can use vocab.ox vocabularies?</span></h3></header>
      <div class="entry-content">
        <p>Vocabulary owners can assign a licence to  their vocabularies. Otherwise vocabularies are made freely available under a CC  Attribution-ShareAlike licence.</p>
      </div>
    </article>
  </ol>
</section>
