# -*- coding: utf-8 -*-
<%!
  nav_selection = 'index'
  main_title = 'vocab.ox - Home'
%>
<%inherit file="/base.html" />
<hgroup><h2>Introduction</h2></hgroup>
<a href="http://www.bodleian.ox.ac.uk/" target="_blank"><img src="images/bodleian_logo.jpg" alt="Bodleian Libraries [opens new window]" title="University of Oxford [opens new window]" class="imgRight imgBorder"></a>       
<p><strong>Vocab.ox.ac.uk</strong>&nbsp;is a store of controlled vocabularies, ontologies,  classifications, taxonomies and thesauri in use by the University of Oxford’s  semantic web community. It comprises vocabularies, referenced versions of  vocabularies hosted elsewhere that are in use at Oxford and links to other  vocabularies. For brevity the broad term ‘vocabularies’ has been adopted to  encompass ontologies, classifications, taxonomies, controlled vocabularies and  thesauri created or amended by developers at Oxford. </p>
<p>The vocabularies on this site are published  as open linked data and are available for re-use in compliance with attached  terms and conditions. Members of the University of Oxford are invited to submit  semantic vocabularies to this site.</p>
